$cell: 2vw;
$cross-size: 2vw;
$cross-size: 2vw;
$cross-colour: #74483b;
$cross-linethickness: 1px;
$board-border: #ad702a;
$board-borderthickness: 1vw;
$size9: calc(#{$cell} * 9 + #{$board-borderthickness} * 2);
$size13: calc(#{$cell} * 13 + #{$board-borderthickness} * 2);
$size19: calc(#{$cell} * 19 + #{$board-borderthickness} * 2);

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  float: left;
  margin-top: -30vw;
  overflow: visible;
  position: relative;
  z-index: 99;

  .row {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    border-left: $board-borderthickness solid $board-border;
    border-right: $board-borderthickness solid $board-border;
    &:first-child {
      border-top: $board-borderthickness solid $board-border;
    }
    &:last-child {
      border-bottom: $board-borderthickness solid $board-border;
    }
  }
  .pit {
    width: $cell;
    height: $cell;
    position: relative;
    &:hover {
      background: #4d9c9875;
      border-radius: 20%;
      cursor: none;
    }
  }
  .pit.markBlack {
    border-radius: 50%;
    background: #13131352;
  }
  .pit.markWhite {
    border-radius: 50%;
    background: #ffffff62;
  }
}
.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  position: relative;
  background: #d9a569;
  // &:before {
  //   background-image: linear-gradient(180deg, black 0, transparent 1px),
  //     linear-gradient(90deg, black 0, transparent 1px);
  //   background-size: $cell $cell;
  //   bottom: 0;
  //   content: "";
  //   display: block;
  //   left: $board-borderthickness;
  //   position: absolute;
  //   right: $board-borderthickness;
  //   top: $cell;
  //   width: $size19;
  //   height: $size19;
  // }
  .row {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    border-left: $board-borderthickness solid $board-border;
    border-right: $board-borderthickness solid $board-border;
    &:first-child {
      border-top: $board-borderthickness solid $board-border;
    }
    &:last-child {
      border-bottom: $board-borderthickness solid $board-border;
    }
  }

  .cell {
    width: $cell;
    height: $cell;
    position: relative;
    background: #d9a569;
  }
}

.size9 {
  width: $size9;
  height: $size9;
}
.size13 {
  width: $size13;
  height: $size13;
}
.size19 {
  width: $size19;
  height: $size19;
}

.sizeg9 {
  width: $size9;
  height: $size9;
  margin-top: calc(#{$size9} * -1);
}
.sizeg13 {
  width: $size13;
  height: $size13;
  margin-top: calc(#{$size13} * -1);
}
.sizeg19 {
  width: $size19;
  height: $size19;
  margin-top: calc(#{$size19} * -1);
}

.cross.regular {
  height: $cross-size;
  background: $cross-colour;
  position: absolute;
  left: calc(#{$cross-size}/ 2);
  width: $cross-linethickness;
  &:after {
    background: $cross-colour;
    content: "";
    height: $cross-linethickness;
    left: calc(-#{$cross-size}/ 2);
    position: absolute;
    top: calc(#{$cross-size}/ 2);
    width: $cross-size;
  }
}

.cross.left {
  height: $cross-size;
  background: $cross-colour;
  position: absolute;
  left: calc(#{$cross-size}/ 2);
  width: $cross-linethickness;
  &:after {
    background: $cross-colour;
    content: "";
    height: $cross-linethickness;
    left: 0;
    position: absolute;
    top: calc(#{$cross-size}/ 2);
    width: calc(#{$cross-size}/ 2);
  }
}

.cross.right {
  height: $cross-size;
  background: $cross-colour;
  position: absolute;
  left: calc(#{$cross-size}/ 2);
  width: $cross-linethickness;
  &:after {
    background: $cross-colour;
    content: "";
    height: $cross-linethickness;
    left: calc(-#{$cross-size}/ 2);
    position: absolute;
    top: calc(#{$cross-size}/ 2);
    width: calc(#{$cross-size}/ 2);
  }
}

.cross.top {
  height: calc(#{$cross-size}/ 2);
  background: $cross-colour;
  position: absolute;
  left: calc(#{$cross-size}/ 2);
  top: calc(#{$cross-size}/ 2);
  width: $cross-linethickness;

  &:after {
    background: $cross-colour;
    content: "";
    height: $cross-linethickness;
    left: calc(-#{$cross-size}/ 2);
    position: absolute;
    top: 0;
    width: $cross-size;
  }
}

.cross.bottom {
  height: calc(#{$cross-size}/ 2);
  background: $cross-colour;
  position: absolute;
  left: calc(#{$cross-size}/ 2);
  top: 0;
  width: $cross-linethickness;

  &:after {
    background: $cross-colour;
    content: "";
    height: $cross-linethickness;
    left: calc(-#{$cross-size}/ 2);
    position: absolute;
    top: calc(#{$cross-size}/ 2);
    width: $cross-size;
  }
}

.cross.top.cross.left::after {
  left: 0;
}

.cross.bottom.cross.left::after {
  left: 0;
}

.cross.top.cross.right::after {
  width: calc(#{$cross-size}/ 2);
}

.cross.bottom.cross.right::after {
  width: calc(#{$cross-size}/ 2);
}
