$cell: 2vw;
$cross-size: 2vw;
$cell-mob: 5vw;
$cross-size-mob: 5vw;
$body-colour: #42aeaa;
$cross-colour: #74483b;
$cross-linethickness: 2px;
$board-border: #ad702a;
$board-borderthickness: 1vw;
$size9: calc(#{$cell} * 9 + #{$board-borderthickness} * 2);
$size13: calc(#{$cell} * 13 + #{$board-borderthickness} * 2);
$size19: calc(#{$cell} * 19 + #{$board-borderthickness} * 2);
$size9-mob: calc(#{$cell-mob} * 9 + #{$board-borderthickness} * 2);
$size13-mob: calc(#{$cell-mob} * 13 + #{$board-borderthickness} * 2);
$size19-mob: calc(#{$cell-mob} * 19 + #{$board-borderthickness} * 2);

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  img {
    height: 12vh;
    @include for-size(phone-only) {
      height: 8vh;
    }
  }
}

.App {
  text-align: center;
  // background: $body-colour;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#777169 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #777169;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-size(phone-only) {
    flex-direction: column;
  }
}
.container {
  padding: 5vw;
}
.size9 {
  width: $size9;
  height: $size9;
  @include for-size(phone-only) {
    width: $size9-mob;
    height: $size9-mob;
  }
}
.size13 {
  width: $size13;
  height: $size13;
  @include for-size(phone-only) {
    width: $size13-mob;
    height: $size13-mob;
  }
}
.size19 {
  width: $size19;
  height: $size19;
  @include for-size(phone-only) {
    width: $size19-mob;
    height: $size19-mob;
  }
}
